Perform the following operations using R/Python on suitable data sets:
a) read data from different formats (like csv, xls)
b) Find Shape of Data
c) Find Missing Values
d) Find data type of each column
e) Finding out Zero's
f) Indexing and selecting data, sort data,
g) Describe attributes of data, checking data types of each column,
h) counting unique values of data, format of each column, converting variable
data type (e.g. from long to short, vice versa)

In [9]:
%pip install pandas numpy matplotlib seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\mansi\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\mansi\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.1)
Collecting matplotlib
  Downloading matplotlib-3.10.0-cp312-cp312-win_amd64.whl.metadata (11 kB)
Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mansi\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mansi\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mansi\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.2)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.1-cp312-cp312-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.55.3-cp312-cp312-win_amd64.whl.metadata (168 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.8-cp312-cp312-win_amd64.whl.metadata (6.3 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\mansi\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (24.1)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.1.0-cp312-cp312-win_amd64.whl.metadata (9.3 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.1-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: six>=1.5 in c:\users\mansi\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading matplotlib-3.10.0-cp312-cp312-win_amd64.whl (8.0 MB)
   ---------------------------------------- 0.0/8.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/8.0 MB ? eta -:--:--
   - -------------------------------------- 0.3/8.0 MB ? eta -:--:--
   --- ------------------------------------ 0.8/8.0 MB 3.0 MB/s eta 0:00:03
   ----- ---------------------------------- 1.0/8.0 MB 2.4 MB/s eta 0:00:03
   ----- ---------------------------------- 1.0/8.0 MB 2.4 MB/s eta 0:00:03
   ------ --------------------------------- 1.3/8.0 MB 1.3 MB/s eta 0:00:06
   ------- -------------------------------- 1.6/8.0 MB 1.3 MB/s eta 0:00:06
   --------- ------------------------------ 1.8/8.0 MB 1.3 MB/s eta 0:00:05
   --------- ------------------------------ 1.8/8.0 MB 1.3 MB/s eta 0:00:05
   ---------- ----------------------------- 2.1/8.0 MB 1.2 MB/s eta 0:00:05
   ---------- ----------------------------- 2.1/8.0 MB 1.2 MB/s eta 0:00:05
   ---------- ----------------------------- 2.1/8.0 MB 1.2 MB/s eta 0:00:05
   ---------- ----------------------------- 2.1/8.0 MB 1.2 MB/s eta 0:00:05
   ---------- ----------------------------- 2.1/8.0 MB 1.2 MB/s eta 0:00:05
   ---------- ----------------------------- 2.1/8.0 MB 1.2 MB/s eta 0:00:05
   ---------- ----------------------------- 2.1/8.0 MB 1.2 MB/s eta 0:00:05
   ---------- ----------------------------- 2.1/8.0 MB 1.2 MB/s eta 0:00:05
   ---------- ----------------------------- 2.1/8.0 MB 1.2 MB/s eta 0:00:05
   ----------- ---------------------------- 2.4/8.0 MB 591.2 kB/s eta 0:00:10
   ----------- ---------------------------- 2.4/8.0 MB 591.2 kB/s eta 0:00:10
   ----------- ---------------------------- 2.4/8.0 MB 591.2 kB/s eta 0:00:10
   ----------- ---------------------------- 2.4/8.0 MB 591.2 kB/s eta 0:00:10
   ----------- ---------------------------- 2.4/8.0 MB 591.2 kB/s eta 0:00:10
   ----------- ---------------------------- 2.4/8.0 MB 591.2 kB/s eta 0:00:10
   ------------- -------------------------- 2.6/8.0 MB 500.0 kB/s eta 0:00:11
   ------------- -------------------------- 2.6/8.0 MB 500.0 kB/s eta 0:00:11
   ------------- -------------------------- 2.6/8.0 MB 500.0 kB/s eta 0:00:11
   ------------- -------------------------- 2.6/8.0 MB 500.0 kB/s eta 0:00:11
   ------------- -------------------------- 2.6/8.0 MB 500.0 kB/s eta 0:00:11
   ------------- -------------------------- 2.6/8.0 MB 500.0 kB/s eta 0:00:11
   ------------- -------------------------- 2.6/8.0 MB 500.0 kB/s eta 0:00:11
   -------------- ------------------------- 2.9/8.0 MB 418.4 kB/s eta 0:00:13
   -------------- ------------------------- 2.9/8.0 MB 418.4 kB/s eta 0:00:13
   -------------- ------------------------- 2.9/8.0 MB 418.4 kB/s eta 0:00:13
   -------------- ------------------------- 2.9/8.0 MB 418.4 kB/s eta 0:00:13
   --------------- ------------------------ 3.1/8.0 MB 407.4 kB/s eta 0:00:13
   --------------- ------------------------ 3.1/8.0 MB 407.4 kB/s eta 0:00:13
   --------------- ------------------------ 3.1/8.0 MB 407.4 kB/s eta 0:00:13
   --------------- ------------------------ 3.1/8.0 MB 407.4 kB/s eta 0:00:13
   --------------- ------------------------ 3.1/8.0 MB 407.4 kB/s eta 0:00:13
   --------------- ------------------------ 3.1/8.0 MB 407.4 kB/s eta 0:00:13
   --------------- ------------------------ 3.1/8.0 MB 407.4 kB/s eta 0:00:13
   --------------- ------------------------ 3.1/8.0 MB 407.4 kB/s eta 0:00:13
   --------------- ------------------------ 3.1/8.0 MB 407.4 kB/s eta 0:00:13
   ---------------- ----------------------- 3.4/8.0 MB 352.6 kB/s eta 0:00:14
   ---------------- ----------------------- 3.4/8.0 MB 352.6 kB/s eta 0:00:14
   ---------------- ----------------------- 3.4/8.0 MB 352.6 kB/s eta 0:00:14
   ---------------- ----------------------- 3.4/8.0 MB 352.6 kB/s eta 0:00:14
   ---------------- ----------------------- 3.4/8.0 MB 352.6 kB/s eta 0:00:14
   ---------------- ----------------------- 3.4/8.0 MB 352.6 kB/s eta 0:00:14
   ---------------- ----------------------- 3.4/8.0 MB 352.6 kB/s eta 0:00:14
   ---------------- ----------------------- 3.4/8.0 MB 352.6 kB/s eta 0:00:14
   ---------------- ----------------------- 3.4/8.0 MB 352.6 kB/s eta 0:00:14
   ---------------- ----------------------- 3.4/8.0 MB 352.6 kB/s eta 0:00:14
   ---------------- ----------------------- 3.4/8.0 MB 352.6 kB/s eta 0:00:14
   ---------------- ----------------------- 3.4/8.0 MB 352.6 kB/s eta 0:00:14
   ---------------- ----------------------- 3.4/8.0 MB 352.6 kB/s eta 0:00:14
   ------------------ --------------------- 3.7/8.0 MB 290.8 kB/s eta 0:00:16
   ------------------ --------------------- 3.7/8.0 MB 290.8 kB/s eta 0:00:16
   ------------------ --------------------- 3.7/8.0 MB 290.8 kB/s eta 0:00:16
   ------------------- -------------------- 3.9/8.0 MB 296.6 kB/s eta 0:00:14
   ------------------- -------------------- 3.9/8.0 MB 296.6 kB/s eta 0:00:14
   -------------------- ------------------- 4.2/8.0 MB 308.8 kB/s eta 0:00:13
   -------------------- ------------------- 4.2/8.0 MB 308.8 kB/s eta 0:00:13
   -------------------- ------------------- 4.2/8.0 MB 308.8 kB/s eta 0:00:13
   ---------------------- ----------------- 4.5/8.0 MB 315.4 kB/s eta 0:00:12
   ---------------------- ----------------- 4.5/8.0 MB 315.4 kB/s eta 0:00:12
   ---------------------- ----------------- 4.5/8.0 MB 315.4 kB/s eta 0:00:12
   ---------------------- ----------------- 4.5/8.0 MB 315.4 kB/s eta 0:00:12
   ---------------------- ----------------- 4.5/8.0 MB 315.4 kB/s eta 0:00:12
   ----------------------- ---------------- 4.7/8.0 MB 308.3 kB/s eta 0:00:11
   ----------------------- ---------------- 4.7/8.0 MB 308.3 kB/s eta 0:00:11
   ------------------------ --------------- 5.0/8.0 MB 318.2 kB/s eta 0:00:10
   ------------------------ --------------- 5.0/8.0 MB 318.2 kB/s eta 0:00:10
   -------------------------- ------------- 5.2/8.0 MB 325.6 kB/s eta 0:00:09
   -------------------------- ------------- 5.2/8.0 MB 325.6 kB/s eta 0:00:09
   --------------------------- ------------ 5.5/8.0 MB 332.9 kB/s eta 0:00:08
   --------------------------- ------------ 5.5/8.0 MB 332.9 kB/s eta 0:00:08
   --------------------------- ------------ 5.5/8.0 MB 332.9 kB/s eta 0:00:08
   --------------------------- ------------ 5.5/8.0 MB 332.9 kB/s eta 0:00:08
   ---------------------------- ----------- 5.8/8.0 MB 335.5 kB/s eta 0:00:07
   ---------------------------- ----------- 5.8/8.0 MB 335.5 kB/s eta 0:00:07
   ----------------------------- ---------- 6.0/8.0 MB 343.0 kB/s eta 0:00:06
   ----------------------------- ---------- 6.0/8.0 MB 343.0 kB/s eta 0:00:06
   ----------------------------- ---------- 6.0/8.0 MB 343.0 kB/s eta 0:00:06
   ----------------------------- ---------- 6.0/8.0 MB 343.0 kB/s eta 0:00:06
   ------------------------------- -------- 6.3/8.0 MB 340.9 kB/s eta 0:00:06
   ------------------------------- -------- 6.3/8.0 MB 340.9 kB/s eta 0:00:06
   ------------------------------- -------- 6.3/8.0 MB 340.9 kB/s eta 0:00:06
   -------------------------------- ------- 6.6/8.0 MB 343.0 kB/s eta 0:00:05
   -------------------------------- ------- 6.6/8.0 MB 343.0 kB/s eta 0:00:05
   -------------------------------- ------- 6.6/8.0 MB 343.0 kB/s eta 0:00:05
   -------------------------------- ------- 6.6/8.0 MB 343.0 kB/s eta 0:00:05
   --------------------------------- ------ 6.8/8.0 MB 341.0 kB/s eta 0:00:04
   --------------------------------- ------ 6.8/8.0 MB 341.0 kB/s eta 0:00:04
   --------------------------------- ------ 6.8/8.0 MB 341.0 kB/s eta 0:00:04
   --------------------------------- ------ 6.8/8.0 MB 341.0 kB/s eta 0:00:04
   ----------------------------------- ---- 7.1/8.0 MB 340.5 kB/s eta 0:00:03
   ----------------------------------- ---- 7.1/8.0 MB 340.5 kB/s eta 0:00:03
   ------------------------------------ --- 7.3/8.0 MB 345.3 kB/s eta 0:00:03
   ------------------------------------ --- 7.3/8.0 MB 345.3 kB/s eta 0:00:03
   ------------------------------------ --- 7.3/8.0 MB 345.3 kB/s eta 0:00:03
   ------------------------------------ --- 7.3/8.0 MB 345.3 kB/s eta 0:00:03
   ------------------------------------- -- 7.6/8.0 MB 346.2 kB/s eta 0:00:02
   ------------------------------------- -- 7.6/8.0 MB 346.2 kB/s eta 0:00:02
   ---------------------------------------  7.9/8.0 MB 350.8 kB/s eta 0:00:01
   ---------------------------------------  7.9/8.0 MB 350.8 kB/s eta 0:00:01
   ---------------------------------------  7.9/8.0 MB 350.8 kB/s eta 0:00:01
   ---------------------------------------  7.9/8.0 MB 350.8 kB/s eta 0:00:01
   ---------------------------------------- 8.0/8.0 MB 345.2 kB/s eta 0:00:00
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading contourpy-1.3.1-cp312-cp312-win_amd64.whl (220 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.55.3-cp312-cp312-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.2 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.2 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.2 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.2 MB 419.4 kB/s eta 0:00:05
   --------- ------------------------------ 0.5/2.2 MB 419.4 kB/s eta 0:00:05
   -------------- ------------------------- 0.8/2.2 MB 493.2 kB/s eta 0:00:03
   ------------------ --------------------- 1.0/2.2 MB 599.0 kB/s eta 0:00:02
   ------------------ --------------------- 1.0/2.2 MB 599.0 kB/s eta 0:00:02
   ------------------ --------------------- 1.0/2.2 MB 599.0 kB/s eta 0:00:02
   ----------------------- ---------------- 1.3/2.2 MB 554.5 kB/s eta 0:00:02
   ---------------------------- ----------- 1.6/2.2 MB 625.9 kB/s eta 0:00:02
   --------------------------------- ------ 1.8/2.2 MB 684.7 kB/s eta 0:00:01
   --------------------------------- ------ 1.8/2.2 MB 684.7 kB/s eta 0:00:01
   ------------------------------------- -- 2.1/2.2 MB 667.3 kB/s eta 0:00:01
   ------------------------------------- -- 2.1/2.2 MB 667.3 kB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 623.0 kB/s eta 0:00:00
Downloading kiwisolver-1.4.8-cp312-cp312-win_amd64.whl (71 kB)
Downloading pillow-11.1.0-cp312-cp312-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   --- ------------------------------------ 0.3/2.6 MB ? eta -:--:--
   --- ------------------------------------ 0.3/2.6 MB ? eta -:--:--
   --- ------------------------------------ 0.3/2.6 MB ? eta -:--:--
   --- ------------------------------------ 0.3/2.6 MB ? eta -:--:--
   --- ------------------------------------ 0.3/2.6 MB ? eta -:--:--
   ------- -------------------------------- 0.5/2.6 MB 233.0 kB/s eta 0:00:10
   ------- -------------------------------- 0.5/2.6 MB 233.0 kB/s eta 0:00:10
   ------- -------------------------------- 0.5/2.6 MB 233.0 kB/s eta 0:00:10
   ------- -------------------------------- 0.5/2.6 MB 233.0 kB/s eta 0:00:10
   ----------- ---------------------------- 0.8/2.6 MB 274.9 kB/s eta 0:00:07
   ----------- ---------------------------- 0.8/2.6 MB 274.9 kB/s eta 0:00:07
   ----------- ---------------------------- 0.8/2.6 MB 274.9 kB/s eta 0:00:07
   --------------- ------------------------ 1.0/2.6 MB 324.7 kB/s eta 0:00:05
   --------------- ------------------------ 1.0/2.6 MB 324.7 kB/s eta 0:00:05
   --------------- ------------------------ 1.0/2.6 MB 324.7 kB/s eta 0:00:05
   --------------- ------------------------ 1.0/2.6 MB 324.7 kB/s eta 0:00:05
   ------------------- -------------------- 1.3/2.6 MB 322.6 kB/s eta 0:00:05
   ------------------- -------------------- 1.3/2.6 MB 322.6 kB/s eta 0:00:05
   ------------------- -------------------- 1.3/2.6 MB 322.6 kB/s eta 0:00:05
   ------------------- -------------------- 1.3/2.6 MB 322.6 kB/s eta 0:00:05
   ------------------- -------------------- 1.3/2.6 MB 322.6 kB/s eta 0:00:05
   ------------------- -------------------- 1.3/2.6 MB 322.6 kB/s eta 0:00:05
   ------------------- -------------------- 1.3/2.6 MB 322.6 kB/s eta 0:00:05
   ----------------------- ---------------- 1.6/2.6 MB 276.8 kB/s eta 0:00:04
   ----------------------- ---------------- 1.6/2.6 MB 276.8 kB/s eta 0:00:04
   ----------------------- ---------------- 1.6/2.6 MB 276.8 kB/s eta 0:00:04
   ----------------------- ---------------- 1.6/2.6 MB 276.8 kB/s eta 0:00:04
   ----------------------- ---------------- 1.6/2.6 MB 276.8 kB/s eta 0:00:04
   ----------------------- ---------------- 1.6/2.6 MB 276.8 kB/s eta 0:00:04
   --------------------------- ------------ 1.8/2.6 MB 262.1 kB/s eta 0:00:04
   --------------------------- ------------ 1.8/2.6 MB 262.1 kB/s eta 0:00:04
   --------------------------- ------------ 1.8/2.6 MB 262.1 kB/s eta 0:00:04
   ------------------------------- -------- 2.1/2.6 MB 271.2 kB/s eta 0:00:02
   ------------------------------- -------- 2.1/2.6 MB 271.2 kB/s eta 0:00:02
   ------------------------------- -------- 2.1/2.6 MB 271.2 kB/s eta 0:00:02
   ----------------------------------- ---- 2.4/2.6 MB 284.4 kB/s eta 0:00:01
   ----------------------------------- ---- 2.4/2.6 MB 284.4 kB/s eta 0:00:01
   ----------------------------------- ---- 2.4/2.6 MB 284.4 kB/s eta 0:00:01
   ----------------------------------- ---- 2.4/2.6 MB 284.4 kB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 291.5 kB/s eta 0:00:00
Downloading pyparsing-3.2.1-py3-none-any.whl (107 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.3.1 cycler-0.12.1 fonttools-4.55.3 kiwisolver-1.4.8 matplotlib-3.10.0 pillow-11.1.0 pyparsing-3.2.1 seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Importing the dataset

In [11]:

dataset = pd.read_csv('Data.csv')

1. Reading from the dataset

In [12]:
print(dataset)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

2. Finding shape of data

In [14]:
dataset.shape

(10, 4)

3. finding datatype of each column

In [15]:
#3. finding datatype of each column
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 452.0+ bytes

In [16]:
dataset.dtypes

Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

4. finding missing values / null values

In [17]:
dataset.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

5. indexing and selecting data, sort data

In [18]:
select_data = dataset[["Age", "Salary"]]
select_data

    Age   Salary
0  44.0  72000.0
1  27.0  48000.0
2  30.0  54000.0
3  38.0  61000.0
4  40.0      NaN
5  35.0  58000.0
6   NaN  52000.0
7  48.0  79000.0
8  50.0  83000.0
9  37.0  67000.0

6. sorting data

In [19]:
#sorting data

age_sorted = sorted(select_data["Age"])
age_sorted

[27.0, 30.0, 35.0, 37.0, 38.0, 40.0, 44.0, nan, 48.0, 50.0]

In [20]:
salary_sorted = sorted(select_data["Salary"])
salary_sorted

[48000.0,
 52000.0,
 54000.0,
 58000.0,
 61000.0,
 72000.0,
 nan,
 67000.0,
 79000.0,
 83000.0]

Common data frames attributes

In [21]:
dataset.shape

(10, 4)

In [22]:
dataset.index

RangeIndex(start=0, stop=10, step=1)

In [23]:
dataset.columns

Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')

In [24]:
dataset.size

40

In [25]:
dataset.values

array([['France', 44.0, 72000.0, 'No'],
       ['Spain', 27.0, 48000.0, 'Yes'],
       ['Germany', 30.0, 54000.0, 'No'],
       ['Spain', 38.0, 61000.0, 'No'],
       ['Germany', 40.0, nan, 'Yes'],
       ['France', 35.0, 58000.0, 'Yes'],
       ['Spain', nan, 52000.0, 'No'],
       ['France', 48.0, 79000.0, 'Yes'],
       ['Germany', 50.0, 83000.0, 'No'],
       ['France', 37.0, 67000.0, 'Yes']], dtype=object)

In [26]:
dataset.T

,0,1,2,3,4,5,6,7,8,9
Country,France,Spain,Germany,Spain,Germany,France,Spain,France,Germany,France
Age,44.0,27.0,30.0,38.0,40.0,35.0,NaN,48.0,50.0,37.0
Salary,72000.0,48000.0,54000.0,61000.0,NaN,58000.0,52000.0,79000.0,83000.0,67000.0
Purchased,No,Yes,No,No,Yes,Yes,No,Yes,No,Yes

In [27]:
dataset.empty

False

In [28]:
dataset.ndim

2

In [29]:
dataset.memory_usage()

Index        132
Country       80
Age           80
Salary        80
Purchased     80
dtype: int64

In [30]:
print(dataset.at[0,'Age'])

44.0

In [31]:
dataset.iat

In [32]:
dataset.axes

[RangeIndex(start=0, stop=10, step=1),
 Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')]